{% extends 'base.html.twig' %}

{% block title %}Menu index{% endblock %}

{% block body %}
    <h1>Menu index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdMenu</th>
                <th>Nom</th>
                <th>Prix</th>
                <th>Calories</th>
                <th>Description</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for menu in menus %}
            <tr>
                <td>{{ menu.idMenu }}</td>
                <td>{{ menu.nom }}</td>
                <td>{{ menu.prix }}</td>
                <td>{{ menu.calories }}</td>
                <td>{{ menu.description }}</td>
                <td>{{ menu.image }}</td>
                <td>
                    <a href="{{ path('app_menu_show', {'idMenu': menu.idMenu}) }}">show</a>
                    <a href="{{ path('app_menu_edit', {'idMenu': menu.idMenu}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_menu_new') }}">Create new</a>
{% endblock %}
